## **PANDAS**

In [3]:
import pandas as pd

#creating a pandas series from a list
data = [1,2,3,4,5,6]
series_list = pd.Series(data)
print(series_list)

#creating a pandas series with a specified index
i = ['a','b','c','d','e','f']
series_with_index = pd.Series(data,index=i)
print("\n\nPRINT THE SERIES\n")
print(series_with_index)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64


PRINT THE SERIES

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [12]:
#create a pandas seres from a dictionary

In [14]:
my_dict= {"one":1,"Two":2,"Three":3}
series_from_dict = pd.Series(my_dict)
print(series_from_dict)

one      1
Two      2
Three    3
dtype: int64

In [18]:
#Accessing data in a series
#Accessing element at index 1
print(series_with_index[2])

3

C:\Users\anuja\AppData\Local\Temp\ipykernel_1800\1523706587.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series_with_index[2])

In [34]:

data = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
ser = pd.Series(data)
print(ser)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
dtype: int64

In [44]:
#create a series
data=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
series=pd.Series(data)
print(series)
print("\n")

#return the first n rows
first_n_rows=series.head(3)
print(first_n_rows)
print("\n")

#return the last n rows
last_n_rows=series.tail(3)
print(last_n_rows)
print("\n")

#return dimesions(rows,colums)
dimensions=series.shape
print(dimensions)
print("\n")

#generate descriptive statistics
stats=series.describe()
print(stats)
print("\n")

#return unique values
unique_values=series.unique()
print(unique_values)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
dtype: int64


0    1
1    2
2    3
dtype: int64


12    13
13    14
14    15
dtype: int64


(15,)


count    15.000000
mean      8.000000
std       4.472136
min       1.000000
25%       4.500000
50%       8.000000
75%      11.500000
max      15.000000
dtype: float64


[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

In [52]:
#create a series
data1=[1,2,3,4,5,6,7,8,9,10]
d1=pd.Series(data1)
print(d1)
print("\n")

data2=[1,2,3,4,5,6,7,8,9,10]
d2=pd.Series(data2)
print(d2)
print("\n")

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64


0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [66]:
#element wise addition
add_series = d1 + d2
print(add_series)
print("\n")

#apply a function to each element
squared = add_series.apply(lambda x: x **2)
print(squared)
print("\n")

#sorting
sort = squared.sort_values(ascending = False)
print(sort)
print("\n")

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64


0      4
1     16
2     36
3     64
4    100
5    144
6    196
7    256
8    324
9    400
dtype: int64


9    400
8    324
7    256
6    196
5    144
4    100
3     64
2     36
1     16
0      4
dtype: int64

In [70]:
print(add_series.isnull())

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [4]:
Data = {"a":10,"b":20,"c":30,"d":40,"e":50,"f":60}
part = pd.Series(Data)
print(part)
print("\n")

#select element greater than 30
greater_30 = part[part > 30]
print(greater_30)
print("\n")

#multiple
mul_con = part[(part>10) & (part<40)]
print(mul_con)

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64


d    40
e    50
f    60
dtype: int64


b    20
c    30
dtype: int64

In [5]:
string_series = pd.Series(['apple','banana','cherry','date'])
print(string_series)
print("\n")

string1 = string_series.str.startswith('a')
print(string1)

0     apple
1    banana
2    cherry
3      date
dtype: object


0     True
1    False
2    False
3    False
dtype: bool

In [6]:
import pandas as pd

# 1. Creating a pandas Series from a list with day names as index
temp_data = [36, 37, 27, 25, 30, 32, 41]
days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

temp_series = pd.Series(temp_data, index=days_of_week)

# 2. Print the Series
print("Temperature Data for the Week:\n")
print(temp_series)

# 3. Access temperature for specific days
print("\nTemperature on Monday:", temp_series['Monday'])
print("Temperature on Friday:", temp_series['Friday'])

# 4. Total temperature for the week
total_temperature = temp_series.sum()
print("\nTotal Temperature for the Week:", total_temperature)

# 5. Identify the day with highest and lowest temperature
hottest_day = temp_series.idxmax()
coldest_day = temp_series.idxmin()
print("\nHottest Day:", hottest_day, "with", temp_series[hottest_day], "°C")
print("Coldest Day:", coldest_day, "with", temp_series[coldest_day], "°C")

# 6. Calculate average temperature
average_temp = temp_series.mean()
print("\nAverage Temperature for the Week: {:.2f} °C".format(average_temp))

# 7. Identify days with temperature significantly different from average (e.g., >5°C difference)
significant_diff = temp_series[abs(temp_series - average_temp) > 5]
print("\nDays with Temperature Significantly Different from Average:\n",significant_diff)

Temperature Data for the Week:

Monday       36
Tuesday      37
Wednesday    27
Thursday     25
Friday       30
Saturday     32
Sunday       41
dtype: int64

Temperature on Monday: 36
Temperature on Friday: 30

Total Temperature for the Week: 228

Hottest Day: Sunday with 41 °C
Coldest Day: Thursday with 25 °C

Average Temperature for the Week: 32.57 °C

Days with Temperature Significantly Different from Average:
 Wednesday    27
Thursday     25
Sunday       41
dtype: int64

In [7]:
data={"Name":["Raj","Simran","Sameer"],"Age":[28,24,25],"Salary":[20000,22000,18000]}
df=pd.DataFrame(data)
df

     Name  Age  Salary
0     Raj   28   20000
1  Simran   24   22000
2  Sameer   25   18000

In [8]:
#Dataframe from list
data_list=[["Raj",28,20000],["Simran",24,25000],["Sameer",22,18000]]
df2=pd.DataFrame(data_list,columns=["Name","Age","Salary"])
df2

     Name  Age  Salary
0     Raj   28   20000
1  Simran   24   25000
2  Sameer   22   18000