In [1]:
print("Hello World")

Hello World

In [2]:
print(4)

4

In [3]:
#comments

In [4]:
'''SINGLE LINE COMMENT'''

'SINGLE LINE COMMENT'

In [5]:
"""Multi
Line 
Comment"""

'Multi\nLine \nComment'

In [8]:
a=10
b=20
if a>b:
    print('a is greater than b')
elif a<b:
    print('b is greater than a')
else:
    print('a and b are equal')
print('Outside the conditonal block')

b is greater than a
Outside the conditonal block

In [9]:
print(True)

True

In [11]:
marks=40
carbon_footprint=400.75
city="nagpur"
print(f"The carbon footprint of city {city} is {carbon_footprint} Kg CO2")

The carbon footprint of city nagpur is 400.75 Kg CO2

In [19]:
#Take input from user
name=input("Enter name of the city:")
carbon_footprint=input("Enter the carbon footprint")
print(f"The carbon footprint of city {name} is {carbon_footprint} Kg CO2")
print(type(carbon_footprint))
int(carbon_footprint)
print(type(int(carbon_footprint)))

Enter name of the city: Mumbai
Enter the carbon footprint 450

The carbon footprint of city Mumbai is 450 Kg CO2
<class 'str'>
<class 'int'>

In [20]:
v1=input()
v2=int(input())
v3=float(input())
v4=bool(input())
print(type(v1))
print(type(v2))
print(type(v3))
print(type(v4))

 Renuka
 45
 45.7
 True

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [21]:
city,cf,temperature='Nagpur',400.85,37.26
print(city,cf,temperature)

Nagpur 400.85 37.26

In [25]:
city="Nagpur"
state="MAH"
print(city+' '+state)
print((city+' ')*10)

Nagpur MAH
Nagpur Nagpur Nagpur Nagpur Nagpur Nagpur Nagpur Nagpur Nagpur Nagpur

In [31]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [26]:
city.upper()

'NAGPUR'

In [27]:
city.lower()

'nagpur'

In [28]:
cities=["Nagpur","Mumbai","Hyderabad","Delhi"]
print(type(cities))

<class 'list'>

In [29]:
dir(cities)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [32]:
print(len(cities))

4

In [33]:
cities.append("Jaipur")

In [34]:
cities

['Nagpur', 'Mumbai', 'Hyderabad', 'Delhi', 'Jaipur']

In [36]:
city2=["Pune","Indore","Banglore"]

In [37]:
cities.extend(city2)
print(cities)

['Nagpur', 'Mumbai', 'Hyderabad', 'Delhi', 'Jaipur', 'Pune', 'Indore', 'Banglore']

In [38]:
city2

['Pune', 'Indore', 'Banglore']

In [39]:
len(cities)

8

In [41]:
cities[0]

'Nagpur'

In [42]:
cities[-1]

'Banglore'

In [43]:
cities[2]

'Hyderabad'

In [44]:
cities[10]

IndexError: list index out of range

In [45]:
cities[:]

['Nagpur',
 'Mumbai',
 'Hyderabad',
 'Delhi',
 'Jaipur',
 'Pune',
 'Indore',
 'Banglore']

In [46]:
cities[0:5:]

['Nagpur', 'Mumbai', 'Hyderabad', 'Delhi', 'Jaipur']

In [47]:
cities[1:5:2]

['Mumbai', 'Delhi']

In [48]:
cities[::-1]

['Banglore',
 'Indore',
 'Pune',
 'Jaipur',
 'Delhi',
 'Hyderabad',
 'Mumbai',
 'Nagpur']

In [51]:
cities[0]='GOA'
print(cities)

['GOA', 'Mumbai', 'Hyderabad', 'Delhi', 'Jaipur', 'Pune', 'Indore', 'Banglore']

In [49]:
tup1=('Apple','Banana','Cherry','Dragonfruit')

In [50]:
dir(tup1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [58]:
my_dict={"city":"Nagpur",
        "cf":400.75,
        "temp":37.66
        }
print(my_dict)

{'city': 'Nagpur', 'cf': 400.75, 'temp': 37.66}

In [59]:
type(my_dict)

dict

In [60]:
print(my_dict["city"])

Nagpur

In [61]:
a=10
print(a/10)
print(a//10)

1.0
1

In [62]:
"Nagpur" in cities

False

In [63]:
"Nagpur" not in cities

True

In [65]:
num=int(input("Enter the number"))
print(num)

Enter the number 34

34

In [66]:
num=float(input("Enter the number"))
print(num)

Enter the number 34

34.0

In [1]:
if 10>0:
    print("10 is greater")
    print("inside for loop")
print("outside for loop")

10 is greater
inside for loop
outside for loop

In [2]:
if 10>25:
    print("10 i greater")
else:
    print("25 is greater")

25 is greater

In [4]:
#write a program to take two inputs from user hours and rate per hours
#Calculate gross pay
hours=int(input("Enter the number of hours worked:"))
rph=float(input("Enter the rate per hour:"))
grosspay=hours*rph
print(f"The gross pay for {hours} hours at the rate of {rph} rate per hours is Rs.{grosspay}")

Enter the number of hours worked: 10
Enter the rate per hour: 20

The gross pay for 10 hours at the rate of 20.0 rate per hours is Rs.200.0

In [13]:
#write a program to take two inputs from user hours and rate per hours
#if employee has worked more than 40 hours then we have to pay him 1.5 times the rate for extra hours
#is less or equal to 40 then we pay the regular amount
#write a program to take two inputs from user hours and rate per hours
#Calculate gross pay
hours=int(input("Enter the number of hours worked:"))
rph=float(input("Enter the rate per hour:"))
if hours>40:
  grosspay=((hours-40)*1.5*rph)+40*rph
  print(f"The gross pay for {hours} hours at the rate of {rph} rate per hours is Rs.{grosspay}")
else:
  grosspay=hours*rph
  print(f"The gross pay for {hours} hours at the rate of {rph} rate per hours is Rs.{grosspay}")

Enter the number of hours worked: 45
Enter the rate per hour: 10

The gross pay for 45 hours at the rate of 10.0 rate per hours is Rs.475.0

In [14]:
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
for char in "Hello":
    print(char)

H
e
l
l
o

In [16]:
for i in range(4,25,3):
    print(i)

4
7
10
13
16
19
22

In [21]:
footprint=[400,500,600,700,800]
sum=0
count=0
for val in footprint:
    sum=sum+val
    count=count+1
print(f"Sum:{sum}")
print(f"Average: {sum/count}")

Sum:3000
Average: 600.0

In [22]:
count=0
while count<5:
    print(count)
    count+=1

0
1
2
3
4

In [27]:
ans=''
while(ans.lower()!='quit'):
      ans=input("Enter input:")
      print(ans)

Enter input: Hello

Hello

Enter input: My

My

Enter input: Name

Name

Enter input: is

is

Enter input: Renuka

Renuka

Enter input: qUit

qUit

In [29]:
def greet():
    print("Hello,good morning....!")
greet()

Hello,good morning....!

In [30]:
def pay_computation():
    hours=int(input("Enter the number of hours worked:"))
    rph=float(input("Enter the rate per hour:"))
    grosspay=hours*rph
    print(f"The gross pay for {hours} hours at the rate of {rph} rate per hours is Rs.{grosspay}")
pay_computation()

Enter the number of hours worked: 45
Enter the rate per hour: 10

The gross pay for 45 hours at the rate of 10.0 rate per hours is Rs.450.0

In [32]:
def addtwo(num1,num2):
    sum=num1+num2
    return sum
addtwo(10,20)

30

In [33]:
#positional arguments
addtwo(10)

TypeError: addtwo() missing 1 required positional argument: 'num2'

In [34]:
#keyword arguements
addtwo(num2=40,num1=70)

110

In [42]:
#default arguments
def addthree(a,b,c=50):
    sum=a+b+c
    return sum
addthree(10,60)

120

In [43]:
#variable length arguements
def greet(*names):
    for name in names:
        print(f"Hello {name}")
greet("Renuka","Poornima","Mansee","Jay")

Hello Renuka
Hello Poornima
Hello Mansee
Hello Jay

In [44]:
def sumn(*nums):
    sum=0
    for num in nums:
        sum=sum+num
    print(sum)
sumn(10,20,30,40,50)

150

In [45]:
user1=input("Enter your name:")
user2=input("Enter your name:")
user3=input("Enter your name:")
greet(user1,user2,user3)

Enter your name: Renuka
Enter your name: Mansee
Enter your name: Poornima

Hello Renuka
Hello Mansee
Hello Poornima

In [49]:
x=10
y=20
sum=lambda x,y:x+y
print(sum(x,y))

30