In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("energy_consumption.csv")
df

   Energy_Source  Energy_Consumption(MWh)  Cost(Million$)
0     Geothermal                   2363.0           234.0
1        Biomass                   1241.0           147.0
2     Hydropower                      NaN           367.0
3        Biomass                   3041.0           392.0
4        Biomass                   3061.0           234.0
5           Wind                   2363.0             NaN
6     Hydropower                   3041.0           234.0
7     Hydropower                   3061.0           427.0
8     Hydropower                   3612.0           234.0
9        Biomass                   3612.0             NaN
10    Geothermal                   2390.0           427.0
11    Hydropower                   3041.0           315.0
12       Nuclear                   3612.0           132.0
13       Biomass                   3061.0           132.0
14          Wind                   2390.0           392.0
15    Geothermal                   3061.0           161.0
16       Nuclear                   2390.0           315.0
17       Nuclear                   3041.0           315.0
18          Wind                   2363.0           234.0
19    Geothermal                   3945.0           132.0
20       Biomass                   3139.0             NaN
21         Solar                   2363.0           300.0
22    Geothermal                   3824.0           300.0
23          Wind                   3061.0           427.0
24       Nuclear                   3824.0           132.0
25       Biomass                   2363.0           132.0
26    Geothermal                   2390.0           392.0
27         Solar                   3139.0           300.0
28         Solar                   3139.0           132.0
29    Hydropower                      NaN           392.0
30    Hydropower                   3139.0           234.0
31          Wind                   3945.0           367.0
32    Geothermal                   3139.0           127.0
33    Geothermal                   2363.0           315.0
34       Nuclear                      NaN           161.0
35       Nuclear                   2363.0           427.0
36       Nuclear                   2363.0           367.0
37    Hydropower                   2478.0           300.0
38    Geothermal                   1241.0           392.0
39    Geothermal                      NaN           315.0
40         Solar                   2363.0           132.0
41    Hydropower                   1241.0           161.0
42       Biomass                   1241.0           132.0
43    Hydropower                      NaN             NaN
44       Biomass                   2478.0             NaN
45         Solar                   3824.0           161.0
46          Wind                   2390.0           392.0
47    Geothermal                   3945.0           161.0
48         Solar                   2390.0           300.0
49    Geothermal                   3139.0           161.0

In [11]:
df.head()

  Energy_Source  Energy_Consumption(MWh)  Cost(Million$)
0    Geothermal                   2363.0           234.0
1       Biomass                   1241.0           147.0
2    Hydropower                   2799.4           367.0
3       Biomass                   3041.0           392.0
4       Biomass                   3061.0           234.0

In [12]:
df.tail()

   Energy_Source  Energy_Consumption(MWh)  Cost(Million$)
45         Solar                   3824.0           161.0
46          Wind                   2390.0           392.0
47    Geothermal                   3945.0           161.0
48         Solar                   2390.0           300.0
49    Geothermal                   3139.0           161.0

In [3]:
df.shape

(50, 3)

In [4]:
df.describe()

       Energy_Consumption(MWh)  Cost(Million$)
count                 45.00000       45.000000
mean                2799.40000      265.244444
std                  722.61971      106.250809
min                 1241.00000      127.000000
25%                 2363.00000      161.000000
50%                 3041.00000      300.000000
75%                 3139.00000      367.000000
max                 3945.00000      427.000000

In [5]:
df.isna().sum()

Energy_Source              0
Energy_Consumption(MWh)    5
Cost(Million$)             5
dtype: int64

In [18]:
df['Energy_Consumption(MWh)'].fillna(df['Energy_Consumption(MWh)'].mean(),inplace=True)

C:\Users\RENUKA\AppData\Local\Temp\ipykernel_21108\2276603720.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Energy_Consumption(MWh)'].fillna(df['Energy_Consumption(MWh)'].mean(),inplace=True)

In [19]:
df['Cost(Million$)'].fillna(df['Cost(Million$)'].mean(),inplace=True)

C:\Users\RENUKA\AppData\Local\Temp\ipykernel_21108\3351113968.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cost(Million$)'].fillna(df['Cost(Million$)'].mean(),inplace=True)

In [20]:
df

   Energy_Source  Energy_Consumption(MWh)  Cost(Million$)
0     Geothermal                   2363.0      234.000000
1        Biomass                   1241.0      147.000000
2     Hydropower                   2799.4      367.000000
3        Biomass                   3041.0      392.000000
4        Biomass                   3061.0      234.000000
5           Wind                   2363.0      265.244444
6     Hydropower                   3041.0      234.000000
7     Hydropower                   3061.0      427.000000
8     Hydropower                   3612.0      234.000000
9        Biomass                   3612.0      265.244444
10    Geothermal                   2390.0      427.000000
11    Hydropower                   3041.0      315.000000
12       Nuclear                   3612.0      132.000000
13       Biomass                   3061.0      132.000000
14          Wind                   2390.0      392.000000
15    Geothermal                   3061.0      161.000000
16       Nuclear                   2390.0      315.000000
17       Nuclear                   3041.0      315.000000
18          Wind                   2363.0      234.000000
19    Geothermal                   3945.0      132.000000
20       Biomass                   3139.0      265.244444
21         Solar                   2363.0      300.000000
22    Geothermal                   3824.0      300.000000
23          Wind                   3061.0      427.000000
24       Nuclear                   3824.0      132.000000
25       Biomass                   2363.0      132.000000
26    Geothermal                   2390.0      392.000000
27         Solar                   3139.0      300.000000
28         Solar                   3139.0      132.000000
29    Hydropower                   2799.4      392.000000
30    Hydropower                   3139.0      234.000000
31          Wind                   3945.0      367.000000
32    Geothermal                   3139.0      127.000000
33    Geothermal                   2363.0      315.000000
34       Nuclear                   2799.4      161.000000
35       Nuclear                   2363.0      427.000000
36       Nuclear                   2363.0      367.000000
37    Hydropower                   2478.0      300.000000
38    Geothermal                   1241.0      392.000000
39    Geothermal                   2799.4      315.000000
40         Solar                   2363.0      132.000000
41    Hydropower                   1241.0      161.000000
42       Biomass                   1241.0      132.000000
43    Hydropower                   2799.4      265.244444
44       Biomass                   2478.0      265.244444
45         Solar                   3824.0      161.000000
46          Wind                   2390.0      392.000000
47    Geothermal                   3945.0      161.000000
48         Solar                   2390.0      300.000000
49    Geothermal                   3139.0      161.000000

In [23]:
df.fillna(method="ffill")

C:\Users\RENUKA\AppData\Local\Temp\ipykernel_21108\3944122520.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill")

   Energy_Source  Energy_Consumption(MWh)  Cost(Million$)
0     Geothermal                   2363.0      234.000000
1        Biomass                   1241.0      147.000000
2     Hydropower                   2799.4      367.000000
3        Biomass                   3041.0      392.000000
4        Biomass                   3061.0      234.000000
5           Wind                   2363.0      265.244444
6     Hydropower                   3041.0      234.000000
7     Hydropower                   3061.0      427.000000
8     Hydropower                   3612.0      234.000000
9        Biomass                   3612.0      265.244444
10    Geothermal                   2390.0      427.000000
11    Hydropower                   3041.0      315.000000
12       Nuclear                   3612.0      132.000000
13       Biomass                   3061.0      132.000000
14          Wind                   2390.0      392.000000
15    Geothermal                   3061.0      161.000000
16       Nuclear                   2390.0      315.000000
17       Nuclear                   3041.0      315.000000
18          Wind                   2363.0      234.000000
19    Geothermal                   3945.0      132.000000
20       Biomass                   3139.0      265.244444
21         Solar                   2363.0      300.000000
22    Geothermal                   3824.0      300.000000
23          Wind                   3061.0      427.000000
24       Nuclear                   3824.0      132.000000
25       Biomass                   2363.0      132.000000
26    Geothermal                   2390.0      392.000000
27         Solar                   3139.0      300.000000
28         Solar                   3139.0      132.000000
29    Hydropower                   2799.4      392.000000
30    Hydropower                   3139.0      234.000000
31          Wind                   3945.0      367.000000
32    Geothermal                   3139.0      127.000000
33    Geothermal                   2363.0      315.000000
34       Nuclear                   2799.4      161.000000
35       Nuclear                   2363.0      427.000000
36       Nuclear                   2363.0      367.000000
37    Hydropower                   2478.0      300.000000
38    Geothermal                   1241.0      392.000000
39    Geothermal                   2799.4      315.000000
40         Solar                   2363.0      132.000000
41    Hydropower                   1241.0      161.000000
42       Biomass                   1241.0      132.000000
43    Hydropower                   2799.4      265.244444
44       Biomass                   2478.0      265.244444
45         Solar                   3824.0      161.000000
46          Wind                   2390.0      392.000000
47    Geothermal                   3945.0      161.000000
48         Solar                   2390.0      300.000000
49    Geothermal                   3139.0      161.000000

In [24]:
df.isna().sum()

Energy_Source              0
Energy_Consumption(MWh)    0
Cost(Million$)             0
dtype: int64

In [26]:
from sklearn.preprocessing import MinMaxScaler

In [30]:
min_scale=MinMaxScaler()
df[["Energy_Consumption(MWh)","Cost(Million$)"]]=min_scale.fit_transform(df[["Energy_Consumption(MWh)","Cost(Million$)"]])

In [31]:
df

   Energy_Source  Energy_Consumption(MWh)  Cost(Million$)
0     Geothermal                 0.414941        0.356667
1        Biomass                 0.000000        0.066667
2     Hydropower                 0.576331        0.800000
3        Biomass                 0.665680        0.883333
4        Biomass                 0.673077        0.356667
5           Wind                 0.414941        0.460815
6     Hydropower                 0.665680        0.356667
7     Hydropower                 0.673077        1.000000
8     Hydropower                 0.876849        0.356667
9        Biomass                 0.876849        0.460815
10    Geothermal                 0.424926        1.000000
11    Hydropower                 0.665680        0.626667
12       Nuclear                 0.876849        0.016667
13       Biomass                 0.673077        0.016667
14          Wind                 0.424926        0.883333
15    Geothermal                 0.673077        0.113333
16       Nuclear                 0.424926        0.626667
17       Nuclear                 0.665680        0.626667
18          Wind                 0.414941        0.356667
19    Geothermal                 1.000000        0.016667
20       Biomass                 0.701923        0.460815
21         Solar                 0.414941        0.576667
22    Geothermal                 0.955251        0.576667
23          Wind                 0.673077        1.000000
24       Nuclear                 0.955251        0.016667
25       Biomass                 0.414941        0.016667
26    Geothermal                 0.424926        0.883333
27         Solar                 0.701923        0.576667
28         Solar                 0.701923        0.016667
29    Hydropower                 0.576331        0.883333
30    Hydropower                 0.701923        0.356667
31          Wind                 1.000000        0.800000
32    Geothermal                 0.701923        0.000000
33    Geothermal                 0.414941        0.626667
34       Nuclear                 0.576331        0.113333
35       Nuclear                 0.414941        1.000000
36       Nuclear                 0.414941        0.800000
37    Hydropower                 0.457470        0.576667
38    Geothermal                 0.000000        0.883333
39    Geothermal                 0.576331        0.626667
40         Solar                 0.414941        0.016667
41    Hydropower                 0.000000        0.113333
42       Biomass                 0.000000        0.016667
43    Hydropower                 0.576331        0.460815
44       Biomass                 0.457470        0.460815
45         Solar                 0.955251        0.113333
46          Wind                 0.424926        0.883333
47    Geothermal                 1.000000        0.113333
48         Solar                 0.424926        0.576667
49    Geothermal                 0.701923        0.113333

In [35]:
pd.get_dummies(df,columns=["Energy_Source"])

,Energy_Consumption(MWh),Cost(Million$),Energy_Source_Biomass,Energy_Source_Geothermal,Energy_Source_Hydropower,Energy_Source_Nuclear,Energy_Source_Solar,Energy_Source_Wind
0,0.414941,0.356667,False,True,False,False,False,False
1,0.000000,0.066667,True,False,False,False,False,False
2,0.576331,0.800000,False,False,True,False,False,False
3,0.665680,0.883333,True,False,False,False,False,False
4,0.673077,0.356667,True,False,False,False,False,False
5,0.414941,0.460815,False,False,False,False,False,True
6,0.665680,0.356667,False,False,True,False,False,False
7,0.673077,1.000000,False,False,True,False,False,False
8,0.876849,0.356667,False,False,True,False,False,False
9,0.876849,0.460815,True,False,False,False,False,False
10,0.424926,1.000000,False,True,False,False,False,False
11,0.665680,0.626667,False,False,True,False,False,False
12,0.876849,0.016667,False,False,False,True,False,False
13,0.673077,0.016667,True,False,False,False,False,False
14,0.424926,0.883333,False,False,False,False,False,True
15,0.673077,0.113333,False,True,False,False,False,False
16,0.424926,0.626667,False,False,False,True,False,False
17,0.665680,0.626667,False,False,False,True,False,False
18,0.414941,0.356667,False,False,False,False,False,True
19,1.000000,0.016667,False,True,False,False,False,False
20,0.701923,0.460815,True,False,False,False,False,False
21,0.414941,0.576667,False,False,False,False,True,False
22,0.955251,0.576667,False,True,False,False,False,False
23,0.673077,1.000000,False,False,False,False,False,True
24,0.955251,0.016667,False,False,False,True,False,False
25,0.414941,0.016667,True,False,False,False,False,False
26,0.424926,0.883333,False,True,False,False,False,False
27,0.701923,0.576667,False,False,False,False,True,False
28,0.701923,0.016667,False,False,False,False,True,False
29,0.576331,0.883333,False,False,True,False,False,False
30,0.701923,0.356667,False,False,True,False,False,False
31,1.000000,0.800000,False,False,False,False,False,True
32,0.701923,0.000000,False,True,False,False,False,False
33,0.414941,0.626667,False,True,False,False,False,False
34,0.576331,0.113333,False,False,False,True,False,False
35,0.414941,1.000000,False,False,False,True,False,False
36,0.414941,0.800000,False,False,False,True,False,False
37,0.457470,0.576667,False,False,True,False,False,False
38,0.000000,0.883333,False,True,False,False,False,False
39,0.576331,0.626667,False,True,False,False,False,False
40,0.414941,0.016667,False,False,False,False,True,False
41,0.000000,0.113333,False,False,True,False,False,False
42,0.000000,0.016667,True,False,False,False,False,False
43,0.576331,0.460815,False,False,True,False,False,False
44,0.457470,0.460815,True,False,False,False,False,False
45,0.955251,0.113333,False,False,False,False,True,False
46,0.424926,0.883333,False,False,False,False,False,True
47,1.000000,0.113333,False,True,False,False,False,False
48,0.424926,0.576667,False,False,False,False,True,False
49,0.701923,0.113333,False,True,False,False,False,False

In [34]:
pd.get_dummies(df,columns=["Energy_Source"]).astype(int)

,Energy_Consumption(MWh),Cost(Million$),Energy_Source_Biomass,Energy_Source_Geothermal,Energy_Source_Hydropower,Energy_Source_Nuclear,Energy_Source_Solar,Energy_Source_Wind
0,0,0,0,1,0,0,0,0
1,0,0,1,0,0,0,0,0
2,0,0,0,0,1,0,0,0
3,0,0,1,0,0,0,0,0
4,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,0,1
6,0,0,0,0,1,0,0,0
7,0,1,0,0,1,0,0,0
8,0,0,0,0,1,0,0,0
9,0,0,1,0,0,0,0,0
10,0,1,0,1,0,0,0,0
11,0,0,0,0,1,0,0,0
12,0,0,0,0,0,1,0,0
13,0,0,1,0,0,0,0,0
14,0,0,0,0,0,0,0,1
15,0,0,0,1,0,0,0,0
16,0,0,0,0,0,1,0,0
17,0,0,0,0,0,1,0,0
18,0,0,0,0,0,0,0,1
19,1,0,0,1,0,0,0,0
20,0,0,1,0,0,0,0,0
21,0,0,0,0,0,0,1,0
22,0,0,0,1,0,0,0,0
23,0,1,0,0,0,0,0,1
24,0,0,0,0,0,1,0,0
25,0,0,1,0,0,0,0,0
26,0,0,0,1,0,0,0,0
27,0,0,0,0,0,0,1,0
28,0,0,0,0,0,0,1,0
29,0,0,0,0,1,0,0,0
30,0,0,0,0,1,0,0,0
31,1,0,0,0,0,0,0,1
32,0,0,0,1,0,0,0,0
33,0,0,0,1,0,0,0,0
34,0,0,0,0,0,1,0,0
35,0,1,0,0,0,1,0,0
36,0,0,0,0,0,1,0,0
37,0,0,0,0,1,0,0,0
38,0,0,0,1,0,0,0,0
39,0,0,0,1,0,0,0,0
40,0,0,0,0,0,0,1,0
41,0,0,0,0,1,0,0,0
42,0,0,1,0,0,0,0,0
43,0,0,0,0,1,0,0,0
44,0,0,1,0,0,0,0,0
45,0,0,0,0,0,0,1,0
46,0,0,0,0,0,0,0,1
47,1,0,0,1,0,0,0,0
48,0,0,0,0,0,0,1,0
49,0,0,0,1,0,0,0,0